@model IndexViewModel
@{
    int iteration = 1;
}

<h1>Результаты</h1>
<br />

<div class="pagination" style="background-color:beige; margin-bottom:30px;">
    <div class="buttons">
    @if (Model.PageViewModel.HasPreviousPage)
    {
            <button onclick="pagination('#userData',@(Model.PageViewModel.PageNumber - 1),'/Account/Diary/?page=')" style="width:100px; margin:0px 5px 15px 0px;" class="btn btn-outline-dark previous">
            Назад
        </button>
    }
    @if (Model.PageViewModel.HasNextPage)
    {
            <button onclick="pagination('#userData',@(Model.PageViewModel.PageNumber + 1),'/Account/Diary/?page=')" style="width:100px; margin:0px 5px 15px 0px;" class="btn btn-outline-dark next">
            Вперед
        </button>
    }
    </div>
    <div class="hint" style="right:45px;">
        @Model.PageViewModel.PageNumber/@Model.PageViewModel.TotalPages стр.
    </div>
</div>
<table>
    <tr>
        <th>
            <span>№</span>
        </th>
        <th>
            <span>Категория теста</span>
        </th>
        <th>
            <span>Название теста</span>
        </th>
        <th>
            <span>Результат</span>
        </th>
        <th>
            <span>%</span>
        </th>
        <th>
            <span>Дата</span>
        </th>
        <th>
            <span>Время</span>
        </th>
    </tr>
    @foreach(var result in Model.Results)
    {
        <tr>
            <td id="Id" style="text-align:center; width:50px;">
             @IndexViewModel.GetNum(iteration,Model.PageViewModel.PageNumber)
            </td>
            <td>
               @result.Test.Category.Name
            </td>
            <td>
                @result.Test.Name
            </td>
            <td style="width:170px">
                @if (result.IsTestPassed){
                    <span style="text-decoration:underline 2px solid green">Тест пройден</span>
                }
                else
                {
                    <span style="text-decoration:underline 2px solid red">Тест не пройден</span>
                }             
            </td>
            <td>
                @result.RightAnswersPercent<span>%</span>
            </td>
            <td style="width:110px">
                @result.CreationDate.Date.ToString("dd-MM-yyyy")
            </td>
            <td>
                @result.CreationDate.ToString("HH:mm")
            </td>
        </tr>
        iteration++;
    }
</table>
@section Scripts{<script>
 

</script>}

