@model Testing.Models.Answer

@{
    ViewBag.Title = "Админка";
    Layout = "/Views/Shared/_BackendLayout.cshtml";
}

<h1>Удаление варианта ответа</h1>

<h3>Вы точно хотите это удалить?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Text)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Text)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsTrue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsTrue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Question)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Question.QuestionId)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <a asp-action="Index" class="btn btn-outline-secondary">Назад к списку</a>
        <input type="hidden" asp-for="AnswerId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> 
    </form>
</div>
